enum-compat==0.0.2
-e git+git@github.com:sulfurheron/FoshWrapper.git@d49fe8a0fbadba55f7df6897a80a688bcf955451#egg=FoshIot
grpcio==1.22.0
gv-stubs==1.0.dev20190721014249
pexpect==4.7.0
protobuf==3.9.0
ptyprocess==0.6.0
pygatt==4.0.3
pyserial==3.4
six==1.12.0
