enum-compat==0.0.2
git+https://github.com/sulfurheron/FoshWrapper.git@7c370f01d5ce9e075b3df13d4fac7216cb2cbf8e#egg=FoshIot
grpcio==1.26.0
gv-stubs==1.0.dev20190725204413
pexpect==4.7.0
protobuf==3.9.0
ptyprocess==0.6.0
pygatt==4.0.3
pyserial==3.4
six==1.12.0
